body{
    background-color: blue;
}
header{
    background-color: white;
    font-weight: bold;
}


h1{
    text-decoration: underline;
    font-weight: bold;
}
}
li a{
    display: inline;
    flex-direction: row;
    list-style-type: none;
}
main{
    background-color: white;
    color: black;
}


footer{
    background-color: white;
    color:red;
    font-weight: bold;
}